################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinecraftPlugInWebServer
/.vs
/DataAccess/bin/Debug
/DataAccess/obj/Debug
/DataAccess/obj
/DataTransferObjects/bin/Debug
/DataTransferObjects/obj/Debug
/Domain/bin/Debug
/Domain/obj/Debug
/Entities/bin/Debug
/DataTransferObjects/obj
/Domain/obj
/Entities/obj
/MlServer/bin/Debug
/MlServer/obj/Debug
/MlServer/obj
/DataTransferObjects/bin/Release/net7.0/DataTransferObjects.deps.json
/DataTransferObjects/bin/Release/net7.0
/Domain/bin/Release/net7.0
/Entities/bin/Release/net7.0
/MlServer/bin/Release/net7.0
